.change-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 300px;
    margin: 250px auto;
    /* margin-bottom: 500px ; */
    color: var(--body-color);
  }
  
  .form-label {
    margin-bottom: 8px;
  }
  
  .form-input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #45a049;
  }
  